body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #000000;
  background-style: flat;
  background-image: url(https://images.unsplash.com/photo-1607743882420-4412ee605bac?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1935&q=80);
  color: #fff;
  color: rgba(255, 255, 255, 0.8);
}
.tree {
  margin: 2rem auto;
  text-align: center;
  width: 100%;
  max-width: 700px;
}
.tree .comments {
  font-weight: 400;
  margin: 1em 2em 1.5em;
  color: #fff;
  color: rgba(255, 255, 255, 0.7);
}
.tree .links a {
  margin: 0.75em auto;
}
.tree .number {
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 2px;
  background: rgba(255, 255, 255, 0.2);
  color: #000;
  text-align: center;
  margin: 0.75em auto;
}
.tree .footer {
  margin: 2rem 2rem 0 2rem;
}
.tree .profile-pic {
  width: 150px;
  border-radius: 50%;
  text-align: center;
  margin-bottom: 1.5rem;
}
.tree .title {
  font-weight: 600;
  font-size: 36px;
  color: #fff;
  color: rgba(255, 255, 255, 0.85);
}
a.btn {
  background-color: #fff;
}
/* Style for the social icons */
.social-icons {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-icons li {
  display: inline-block;
  margin-right: 10px;
}

.social-icons a, .social-icons a:link, .social-icons a:visited, .social-icons a:active {
  color: rgba(255, 255, 255, 0.7);
  font-size: 36px;
  text-decoration: none;
}

.social-icons a:hover {
  color: rgba(255, 255, 255, 0.5);
  font-size: 36px;
  text-decoration: none;
}
